<h1><%= @article.title %></h1>
<small><%= @article.created_at.strftime("%m/%d/%Y") %></small>
  <p><%= @article.body %></p>
<%= link_to "Edit Article", edit_article_path %> | <%= link_to "Delete", article_path, method: :delete, data: { confirm: "Are you sure?"} %>
